@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-mint: #31EBC3;
  --color-teal: #36D7D9;
  --color-ocean: #2F6F95;
  --color-deep: #023B57;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  margin: 0;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-bg {
  background-position: center;
  background-size: cover;
}
